body,
html {
  height: 100%;
  margin: 0;
}

body {
  background-image: url('images/Funny\ knight.avif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  background-attachment: fixed;

  color: rgb(255, 255, 255);
  text-align: center;
  font-family: 'MedievalSharp', cursive;
  
}
.board {
  display: grid;
  grid-template-columns: repeat(8, 50px);
  grid-template-rows: repeat(8, 50px);
  width: 400px;
  height: 400px;
}

.cell {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.white {
  background-color: #eee;
}

.black {
  background-color: #444;
  color: white;
}

.chessboardmover {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 50vh;
}

.chessboardoutside {
  display: grid;
  grid-template-columns: 25px repeat(8, 50px);
  grid-template-rows: 25px repeat(8, 50px);
  gap: 0;
}

.label {
  display: grid;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 14px;
}

.label.bot {
  grid-row: 10;
}

.label.side {
  grid-column: 1;
}

.label.empty {
  grid-row: 1;
  grid-column: 1;
  height: 20px;
}

.cell.start {
  background-color: green;

}

.cell.end {
  background-color: red;
}

.cell.path {
  background-color: yellow;
  color: black;
  font-weight: bold;
}
h1{
  font-size: 75px;
}
.horse-icon {
  width: 35px;
  height: 35px;
  pointer-events: none;
}

.side-label {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-size: 16px;     
}
.move-list {
  background-color: rgba(255, 255, 255, 0.85);
  color: black;
  padding: 10px;
  width: 300px;
  height: 100px;
  font-family: 'MedievalSharp', cursive;
  font-size: 16px;
  display: center;
  margin-left: 10px;
}

#restart-button {
  font-size: 16px;
  cursor: pointer;
  color: red;
  font-family: 'MedievalSharp', cursive;
}